@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 3.75rem;
    --h2-font: 2rem;
    --p-font: 0.9rem;
}
*::selection{
    background: var(--main-color);
    color: #fff;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
/* Header Styling */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}
/* Food Logo Styling */
.logo{
    color: var(--main-color);
    font-weight: 700;
    font-size: 2.1rem;
}
/* Navigation Styling */
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 600;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .5s;
}

#menu-icon{
    font-size: 2.1rem;
    cursor: pointer;
    display: none;
}

                            /* Home Section Styling */
section{
    padding: 60px 15%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 0.75rem;
    font-size: 1.25rem
}
.btn:hover{
    background: #e36729;
    color: #eee;   
}
                            /* About Section Styling */

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
}
.about-text span{
    color: var(--main-color);
    font-weight: 600;
}
.about-text h2{
    font-size: var(--h2-font);
}
.about-text p{
    font-size: var(--p-font);
    padding-bottom: 0.5rem;
}

                            /* Menu Section Styling */
div.heading{
    text-align: center;
}
.heading>span{
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.5rem;
}
.heading>h2{
    font-size: var(--h2-font);
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    gap: 1.5rem;
    align-items: center;
}
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
}
.box-img{
    width: 220px;
    height: 240px;
}
.box-img>img{
    height: 100%;
    width: 100%;
}
.box h2{
    font-size: 1.3rem;
    color: var(--bg-color);
}
.box h3{
    font-size: 1rem;
    color: var(--bg-color);
    font-weight: 500;
    margin: 4px, 0, 10px;
}
.box h4{
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    background: #e36729;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.box h4:hover{
        background: #e36729;
        color: #eee;
}
.box span{
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: 600;
}
.box .bx{
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

                        /* Service Section Styling */
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.s-box{
    text-align: center;
    padding: 20px 30px;
    /* border: 2px solid red; */
}
.s-box img{
    width: 70px;
}
.s-box h3{
    margin: 10px 0 5px 0;
    font-size: 1.3rem;
    color: var(--main-color);
}
.s-box p{
    font-size: 0.8rem;
}

                        /* Contact Section Styling */
.contact{
    background: #feeee7;
    padding: 70px 0;
    text-align: center;
    width: 67%;
    margin: 10px auto;
    border-radius: 10px;
}
.contact h2{
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}
h2>span{
    color: var(--main-color);
}